#suggestions {
    max-height: 200px;
    overflow-y: auto;
}
#suggestions div {
    padding: 8px;
    cursor: pointer;
}
#suggestions div:hover {
    background-color: #e0e7ff; /* Light purple hover color */
}

/* // OpenWeather API key
const openWeatherAPIKEY = "d47d645453b88f0a64f28c420fe6a5c5";

function showWeather() {
    const openWeatherAPIKEY = "d47d645453b88f0a64f28c420fe6a5c5";
    const city = document.getElementById("city").value;
    if (!city) {
        alert("Please enter a city");
        return;
    }
} */
